<div class="navbar">
  <a routerLink="/cards">
    <div class="link">Cards</div>
  </a>

  <div class="side-panel" [@navState]="navState">
    <div class="icon" (click)="openMenu()"></div>
  </div>
</div>

<div class="body">
  <router-outlet></router-outlet>

  <div class="sidebar" [@navState]="navState">
    <div class="buttons">
      <div class="button clickable">reset filter</div>
      <div class="button clickable">reshufle cards</div>

      <div class="button clickable">LogOut</div>      
    </div>
  </div>  
</div>

