<div class="navbar" [ngClass]="darkMode  ? 'dark-nav':''">
  <div class="link main" [routerLink]="['/']"></div>
  
<!--   <div *ngIf="authToken.currentUserData">
    <div>{{authToken.currentUserData.name}}</div>
  </div> -->

  <div class="side-panel" [ngClass]="navState == 'active'? 'nav-open':'nav-close'">
    <div class="icon" [ngClass]="navState == 'active'? 'close':'humburger'" (click)="openMenu()"></div>
    <div class="close-block" *ngIf="settings=='active'">
      <div class="icon" (click)="Settings()"></div>
      <div class="length">Settings</div>
    </div>
  </div>
</div>

<div class="body" [ngClass]="darkMode  ? 'dark-body':''">
  <div id="content">
    <router-outlet></router-outlet>
  </div>

  <div class="sidebar" [ngClass]="[navState == 'active'? 'side-open':'side-close', darkMode  ? 'dark-mode':'']">
    <div class="content" [ngClass]="navState == 'active'? 'side-open':'side-close'">
      <div class="buttons">

      <cards-bar [hidden]="state != 'cards'"></cards-bar> 
      <vocs-bar [hidden]="state != 'vocs'"></vocs-bar>  

      </div>
      <div class="default-bar">
        <div class="button">
          <div class="icon setting" (click)="Settings()"></div>
          <div class="length" (click)="Settings()">Settings</div>
        </div>        
      </div>
      <upper-side-bar [Settings]="settings"></upper-side-bar>
    </div>
  </div>  
</div>

