<div class="buttons" [ngClass]="darkMode  ? 'dark-bar':''">
  <div class="button">
    <div class="icon" (click)="shuffle()"></div>
    <div class="length" (click)="shuffle()">Shuffle cards</div>
  </div>

  <div class="button">
    <div class="icon" (click)="reorder()"></div>
    <div class="length" (click)="reorder()">Reorder</div>
  </div>

  <div class="button">
    <div class="icon" (click)="resetFilter()"></div>
    <div class="length" (click)="resetFilter()">Reset filter</div>
  </div>  
</div>