<div class="content-container" >

  <modal [opened]="opened">
    <div class="modal-body" [ngClass]="opened? 'modal-open':''">
      <div class="space"></div>
      <div class="modal">
        <div class="close" (click)="close()"></div>
        <h3>Are you realy do you want to delete card ?</h3>
        <div class="buttons">

          <div class="mod-butt">
            <grad-button gradClass="grad02" text="Yes" (click)="destoy()"></grad-button>
          </div>
          <div class="mod-butt">
            <grad-button gradClass="grad04" text="No" (click)="close()"></grad-button>
          </div>

        </div>
      </div>
    </div>  
  </modal>

  <div class="cards-body" [ngClass]="darkMode  ? 'dark-card':''">

    <div class="cards"> 
      <div class="title">You can choose word</div>
  
      <div class="cards-flex">

        <div class="card newcard">
          <a [routerLink]="['/vocs/'+vocId+'/cards/add']" >
            <div class="card-content-block">
              <div class="new-icon"></div>
            </div>
          </a>
        </div>


        <div *ngFor="let card of cards | myFilter:filters">
          <div class="card grad"
            [ngClass]="[
              card.colorHash == 'grad01' ? 'grad01':'',
              card.colorHash == 'grad02' ? 'grad02':'',
              card.colorHash == 'grad03' ? 'grad03':'',
              card.colorHash == 'grad04' ? 'grad04':'',
              card.colorHash == 'grad05' ? 'grad05':'',
              card.colorHash == 'grad06' ? 'grad06':'',
              card.colorHash == 'grad07' ? 'grad07':''
              ]"
            >
            <div class="card-body"></div>

            <div class="angle-bar color-picker bottom left">
              <color-picker [childData]="card" ></color-picker>              
            </div>
            
            <div class="angle-bar bottom right">
              <div class="filter"
                (click)="onFilter(card.kind)"
              >{{card.kind}}</div>
            </div>

            <div class="angle-bar top right">
              <div class="check-mark"
                [ngClass]="[
                  card.colorHash == 'grad01' ? 'grad01':'',
                  card.colorHash == 'grad02' ? 'grad02':'',
                  card.colorHash == 'grad03' ? 'grad03':'',
                  card.colorHash == 'grad04' ? 'grad04':'',
                  card.colorHash == 'grad05' ? 'grad05':'',
                  card.colorHash == 'grad06' ? 'grad06':'',
                  card.colorHash == 'grad07' ? 'grad07':''
                ]"
              >
                <div class="check-body" (click)="changeSelect(card)">
                  <div class="selected"
                    [@selectState]="card.selected"
                    [ngClass]="[
                      card.colorHash == 'grad01' ? 'grad01':'',
                      card.colorHash == 'grad02' ? 'grad02':'',
                      card.colorHash == 'grad03' ? 'grad03':'',
                      card.colorHash == 'grad04' ? 'grad04':'',
                      card.colorHash == 'grad05' ? 'grad05':'',
                      card.colorHash == 'grad06' ? 'grad06':'',
                      card.colorHash == 'grad07' ? 'grad07':''
                    ]"
                  >
                    <div class="icon"></div>
                  </div>
                </div>
              </div>
            </div>            

            <a [routerLink]="" >
              <div class="card-content-block"
                [@cardState]="card.state"
                (click)="changeState(card)"
              >
                <div class="name eng"
                  [style.visibility]="card.state == 'active' ? 'hidden':'visible'">
                  {{card.eng}}
                </div>
                <div class="name rus"
                  [style.visibility]="card.state == 'active' ? 'visible':'hidden'"
                >
                  {{card.rus}}
                </div>

                <div class="sentence eng"
                  [style.visibility]="card.state == 'active' ? 'hidden':'visible'"
                >
                  {{card.engSentence}}
                </div>

                <div class="sentence rus"
                  [style.visibility]="card.state == 'active' ? 'visible':'hidden'"
                >
                  {{card.rusSentence}}
                </div>

              </div>
            </a>

          </div>
        </div>
      </div>
      <div class="empty"></div>

<!--       <a routerLink="/cards/add" class="card link">
        <div class="plus"></div>
      </a> -->

<!--<a [routerLink]="['/cards/add', card['id']]" class="update"></a>-->
    </div>

    <div class="empty"></div>
    
  </div>
</div>
