<div class="content-container" >

  <modal [opened]="opened">
    <div class="modal-body" [ngClass]="opened? 'modal-open':''">
      <div class="space"></div>
      <div class="modal">
        <div class="close" (click)="close()"></div>
        <h3>Are you realy do you want to delete card ?</h3>
        <div class="buttons">
          <div class="mod-butt green" (click)="destroy(deleteId)">Yes</div>
          <div class="mod-butt" (click)="close()">No</div>
        </div>
      </div>
    </div>  
  </modal>

  <div class="cards-body">
    <div class="title">You can choose word</div>

    <div class="cards"> 

<!--       <a routerLink="/cards/add" class="card link">
        <div class="plus"></div>
      </a> -->

<!--       <div *ngFor="let card of cards | myFilter:filters">
        <div class="card"  
          [class.selected]="card === selectedCard"
          [style.background-color]="card['colorHash']">


          <div class="clicked">
            <div class="content">
              <div class="angle-bar top left">

                <a [routerLink]="['/cards/add', card['id']]" class="update">
                </a>     
              </div>

              <div class="angle-bar top right">
                <div class="delete"
                  (click)="delete(card['id'])"
                ></div> 
              </div>
              <div class="angle-bar bottom right">
                <div class="kind" (click)="onFilter(card['kind'])">
                  {{card['kind']}}
                </div> 
              </div>

              <div class="angle-bar bottom left">
                <div *ngIf='card'>
                  <app-color-picker [childData]="card" ></app-color-picker>
                </div>    
              </div>          

              <dir class="info-bar" (click)="onSelect(card)" [@cardState]="card.state">
                <div class="eng word card-content"
                  [style.visibility]="card === selectedCard ? 'hidden': 'visible'"
                >
                  {{card['eng']}}
                </div>
                <div class="rus word card-content"
                  [style.visibility]="card === selectedCard ? 'visible' : 'hidden'"
                >
                  {{card['rus']}}
                </div>
                <div class="sentence eng-sentence card-content"
                  [style.visibility]="card === selectedCard ? 'hidden': 'visible'"
                >
                  {{card['engSentence']}}
                  </div>

                <div class="sentence rus-sentence card-content"
                  [style.visibility]="card === selectedCard ? 'visible' : 'hidden'"
                >
                  {{card['rusSentence']}}
                </div>
                
              </dir>
            </div>
          </div>

        </div>

      </div> -->
    </div>
    
  </div>
</div>
