<div class="title">You can choose word</div>


<div class="cards"> 

  <a routerLink="/cards/add" class="card link">
    <div class="plus"></div>
  </a>

  <div *ngFor="let card of cards">
    <div class="card"  
      [class.selected]="card === selectedCard"
      [@cardState]="card.state"
      [style.background-color]="card['colorHash']">

      <div *ngIf='card'>
        <app-color-picker [childData]="card" ></app-color-picker>
      </div>

      <a [routerLink]="['/cards/add', card['id']]" class="update">
      </a>      

      <div class="delete"
        (click)="delete(card['id'])"
      ></div>

      <div class="clicked"  (click)="onSelect(card)">
        <div class="eng word card-content"
          [style.visibility]="card === selectedCard ? 'hidden': 'visible'"
        >
          {{card['eng']}}
        </div>
        
        <div class="rus word card-content"
          [style.visibility]="card === selectedCard ? 'visible' : 'hidden'"
        >
          {{card['rus']}}
        </div>

        <div class="sentence eng-sentence card-content"
          [style.visibility]="card === selectedCard ? 'hidden': 'visible'"
        >
          {{card['engSentence']}}
          </div>

        <div class="sentence rus-sentence card-content"
          [style.visibility]="card === selectedCard ? 'visible' : 'hidden'"
        >
          {{card['rusSentence']}}
        </div>
      </div>

    </div>

  </div>
</div>
